@font-face {
	font-family: 'DIN Condensed';
	src: url('../static/fonts/DINWeb-Cond.eot');
	src: url('../static/fonts/DINWeb-Cond.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/DINWeb-Cond.woff') format('woff');
}

@font-face {
	font-family: 'DIN Condensed Light';
	src: url('../static/fonts/DINWeb-CondLight.eot');
	src: url('../static/fonts/DINWeb-CondLight.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/DINWeb-CondLight.woff') format('woff');
}

@font-face {
	font-family: 'DIN Condensed Medium';
	src: url('../static/fonts/DINWeb-CondMedium.eot');
	src: url('../static/fonts/DINWeb-CondMedium.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/DINWeb-CondMedium.woff') format('woff');
}

@font-face {
	font-family: 'DIN Condensed Bold';
	src: url('../static/fonts/DINWeb-CondBold.eot');
	src: url('../static/fonts/DINWeb-CondBold.eot?#iefix') format('embedded-opentype'),
       url('../static/fonts/DINWeb-CondBold.woff') format('woff');
}
