.profileGridRow:after {
	clear: both;
	content: " ";
	display: table;
}

.profileGrid {
	background: -moz-radial-gradient(center, ellipse cover, rgba(244,169,48,0.2) 0%, rgba(244,169,48,0) 99%, rgba(244,169,48,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(244,169,48,0.2) 0%,rgba(244,169,48,0) 99%,rgba(244,169,48,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(244,169,48,0.2) 0%,rgba(244,169,48,0) 99%,rgba(244,169,48,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40f4a930', endColorstr='#00f4a930',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.profileGrid:after {
	clear: both;
	content: " ";
	display: table;
}

@mixin cols($num: 4, $margin: 2%) {
	width: (100% - $margin * ($num+1)) / $num;
	margin-left: $margin;
}

.profileGridItem {
	@include cols(4, 2%);
	position: relative;
	display: inline-block;
	float: left;
	margin-bottom: 20px;

	@media (max-width: 800px) {
		@include cols(3, 2%);
	}

	@media (max-width: 600px) {
		@include cols(2, 2%)
	}

	@media (max-width: 400px) {
		width: 100%;
		margin: 0;
	}
}

.profileGridItem-image {
	height: 130px;
	width: 100%;
	position: relative;
	text-align: center;

	img {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
	}
}

.profileGridItem-content {
	width: 100%;
}

.profileGridItem-title {
	width: 100%;
	text-align: center;
}

.profileGridItem-name {
	font-family: "DIN Condensed Light";
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	// border-top: 1px solid rgba(255, 255, 255, 0.4);
	padding: 4px 4px;
}

.profileGridItem-body {
	opacity: 0.8;
	font-family: "DIN Condensed Light";
	font-size: 18px;
	color: #fff;
	display: block;
}


